{%- import "uptime_table.html" as scope -%}

<div>
  <h1 style="margin-bottom: 0px;margin-top: 0px;">Nick Web Services</h1>
  <p style="margin-top: 0px;">Pottsville, PA - Philadelphia, PA - Austin, TX</p>


  <p>
    Nick Web Services is a hosting service based out of the Commonwealth of Pennsylvania 
    and the State of Texas. 
    We are committed to achieving maximum uptime with better performance and a lower 
    cost than any of the major cloud services.
  </p>

  <p>
We operate four datacenters located across three cities in two states. This infrastructure setup ensures redundancy and failover capabilities, minimizing downtime risks. Additionally, the geographical distribution enhances speed and accessibility, reducing latency for users across different regions.
  </p>

  <p>
    This has led to us maintaining four nines availability (99.9931% ; 38 minutes of downtime 
    all year) for 2023 and 100% uptime for 2024 (YTD).
  </p>

  <p>
    In 2024, YTD we have surpassed both Vercel and Github Pages in total uptime
  </p>

  <h2>Compare us to our competitors!</h2>
  {% call scope::uptime_table(uptime_infos) %}
</div>
