{%- import "uptime_table.html" as scope -%}

<div>
 <script> 
      var url = new URL(window.location.href);
      var af = url.searchParams.get("af");
 
      if (af == null || af == "true") {
          window.location.href = "./april-fools.html";
      }
  </script>
  <h1 style="margin-bottom: 0px;margin-top: 0px;">Nick Web Services</h1>
  <p style="margin-top: 0px;">Pottsville, PA - Philadelphia, PA - Austin, TX</p>


  <p>
    Nick Web Services is a hosting service based out of the Commonwealth of Pennsylvania 
    and the State of Texas. 
    We are committed to achieving maximum uptime with better performance and a lower 
    cost than any of the major cloud services.
  </p>

  <p>
We operate four datacenters located across three cities in two states. This infrastructure setup ensures redundancy and failover capabilities, minimizing downtime risks. Additionally, the geographical distribution enhances speed and accessibility, reducing latency for users across different regions.
  </p>

  <p>
    This has led to us maintaining four nines availability (99.9931% ; 38 minutes of downtime 
    all year) for 2023 and <b>100% uptime for the period from 11/8/2023 to 11/28/2024 (over a year!). This was the original goal of NWS.</b>
  </p>

  <p>
    Currently, NWS is only able to operate with one point of presence and as such, will 
    have reduced uptime. This is expected to be resolved around August 2024.
  </p>

  <h2>Compare us to our competitors!</h2>
  {% call scope::uptime_table(uptime_infos) %}
</div>
