<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sharpe Mountain Compute</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <nav>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <a class="nav-link" href="/">[ Home ]</a>
            <a class="nav-link" href="/system_status">[ System Status ]</a>
            <a class="nav-link" href="/blog">[ Blog ]</a>
        </div>
        <div>
            <a class="nav-link" href="/dashboard">[ Dashboard ]</a>
        </div>
    </div>
  </nav>
  <hr/>

  {{ content|safe }}

  <footer>
    <hr />
    <div style="display: flex; justify-content: space-between;"> 
        <div>
            <p style="margin-bottom: 0px; margin-top:0px;"><b>Sharpe Mountain Compute</b></p>
            <p style="margin-bottom: 0px;margin-top: 0px;">
            <small><i>formerly Nick Web Services (NWS)</i></small>
            </p>
            <p style="margin-bottom: 0px;margin-top: 0px;">
    <small>Copyright &#169; <a href="https://nickorlow.com">Nicholas Orlowsky</a> 2024</small>
            </p>
            <p style="margin-bottom: 0px;margin-top: 0px;">
    <small><i>"We're getting there" - SEPTA</i></small>
            </p>
        </div>
    <div> 
        <img class="flag-img" src="/assets/flag-images/us.png" title="The United States of America"/>
        <img class="flag-img" src="/assets/flag-images/us-pa.png" title="The Commonwealth of Pennsylvania"/>
        <img class="flag-img" src="/assets/flag-images/us-tx.png" title="The State of Texas"/>
    </div>
  </footer>
</body>
</html>
