{%- import "uptime_table.html" as scope -%}
{%- import "shutdown_warn.html" as warn -%}

<h1>System Status</h1>

{% call warn::shutdown_warn() %}

<!--<h2>Datacenter Status</h2>
<p>
The status of each of Nick Web Services's 4 
datacenters.
</p>

{% call scope::uptime_table(dctr_uptime_infos) %}

<p>
Notice: Due to leasing issues, the Philadelphia datacenter will be offline until 
at least May or August 2025 or it may be discontinued as an NWS location. 
</p>

<h2>Service Status</h2>
<p>
The status of services people host on Nick Web Services.
Note that the uptime and performance of services hosted on
Nick Web Services may be affected by factors not controlled by us such as 
bad optimization or buggy software.
</p>

{% call scope::uptime_table(svc_uptime_infos) %}-->
