.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.low-severity {
  background-color: #98fb98
}

.med-severity {
  background-color: #eee8aa
}

.high-severity {
  background-color: #f08080
}

.severity-label {
  border-radius: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nws-card {
  border-radius: 20px;
  background-color: #eee;
  padding: .75rem;
}


