.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  border-radius: 10px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;

  padding: 3px;


}

button {
  border-radius: 10px !important;
  border-width: 0px;

  background-color: cornflowerblue;
  color: white;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px
}

p {
  margin: 0 !important;
}

.error-banner {
  background-color: #f08080;
  border-radius: 10px;
  padding: 3px;
  height: max-content;
}

.low-severity {
  background-color: #98fb98
}

.med-severity {
  background-color: #eee8aa
}

.high-severity {
  background-color: #f08080
}

.severity-label {
  border-radius: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nws-card {
  border-radius: 20px;
  background-color: #eee;
  padding: .75rem;
}


